@import '~antd/dist/antd.css';
h1{text-align: center;}
.book-list{list-style-type: none; font-size: 25px; line-height: 1.5;}
.content{  display: flex;}
.book-nav{  flex: 1;}
main{flex: 4}
main header{text-align:center; font-size: 24px; font-weight: bold;}

.chapter-nav{
  display:flex;
  list-style-type: none;
  word-wrap: normal;
  overflow: auto;
}

.chapter-nav li{
  margin-right: 4px;
  background-color: #e1e1e1;
  display: block;
}



