html,body{text-align: center; padding-top:50px; }
ul {list-style-type: none; margin: 0px; padding: 0px;}
#wrap {width:500px; text-align: left; margin:0px auto;}
h1{text-align: center;}
label{font-size: 30px;}
.done{text-decoration: line-through;}
.undo{text-decoration: none;}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin:10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
textarea{border: 1px solid bold gray;}
#submit_div{text-align: center;}
input[type=submit]{margin:0px auto;}