html, body{ margin:0; height:100%; }
#wrap{width:668px; height: 698px; background-color: #ffffff;}
#header{width:100%; height:112px ; background-color: #1d417f; margin-bottom: 5px; color:#fff;}
ul {list-style-type: none; margin: 0px; padding:0px;}
#header li{float: left;}
#logo{margin:20px;}
#name{margin:60px 10px 0px -20px; font-size: 18px; font-weight: bold;}
.topNavi{margin:40px 5px 0px 0px;font-size: 14px; }
#body{margin-bottom: 10px;}
#left{width:120px; height: 945px; float: left; background-color: #fefca2; margin-right: 10px; padding:10px;}
#left>ul{margin:10px;}
#left li{line-height:36px;}
#right{float:right;}
#right p {margin:0px; padding:0px 0px 10px 0px;}
.right{width:498px; background-color: #afe0d6; margin: 0px 0px 5px 0px; padding:10px; line-height: 24px;}
h2{margin:0px;padding:10px 0px 10px 10px;}
#footer{clear:both; width:100%; background-color: #808080; height:40px;}
#footer ul{padding:10px 100px 0px;}
#footer li{float: left; margin:0px 25px; color:#fff;}
